@import "tailwindcss";

.colour-helper {
  --color-primary1: #5B3A9D;
  --color-primary2: #6B46C1;
  --color-primary3: #805AD5;
  --color-primary4: #9F7AEA;
  --color-primary5: #B3A2DE;
  --color-secondary1: #D67E22;
  --color-secondary2: #E8A317;
  --color-secondary3: #F59E0B;
  --color-secondary4: #F6E05E;
  --color-secondary5: #F9D949;
  --color-text: #1A202C;
  --color-borders: #d7d0dd;
  --color-soft-gray: #d7d0dd;
  --color-dark-gray: #2d2d2d;
  --color-background: #FFFFFF;
}

@theme {
  --color-primary1: #5B3A9D;
  --color-primary2: #6B46C1;
  --color-primary3: #805AD5;
  --color-primary4: #9F7AEA;
  --color-primary5: #B3A2DE;
  --color-secondary1: #D67E22;
  --color-secondary2: #E8A317;
  --color-secondary3: #F59E0B;
  --color-secondary4: #F6E05E;
  --color-secondary5: #F9D949;
  --color-text: #1A202C;
  --color-borders: #d7d0dd;
  --color-soft-gray: #d7d0dd;
  --color-dark-gray: #2d2d2d;
  --color-background: #FFFFFF;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
  }

  h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Fraunces', serif;
    font-weight: bold;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary1 to-primary3 bg-clip-text text-transparent;
  }

  .section-border {
    @apply border border-soft-gray rounded;
  }

  .flashy-shadow {
    position: relative;
  }

  .flashy-shadow:hover::before {
    transform: scale(1.05);
  }

  .flashy-shadow::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(40deg, #fafa00,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #d61039,
    #e75c3c,
    #e8a44a,
    #a3acf2,
    #8f9bff,
    #5680ea,
    #6b46c1,
    #5b3a9d,
    #6b46c1,
    #5b3a9d
    );
    filter: blur(4px);
    /* transform: translate3d(0px, 0px, -1px); */
    border-radius: inherit;
    /* pointer-events: none; */
    transition: transform 0.66s ease-in-out;
    z-index: -1;
  }
}

.test {
  border: 2px dotted red;
}
